body{
    margin: 0px;
    padding: 0px;
  background-color: #060d17;
  color: #a7aebd;
}
.text-c{color: #6a7c8f;}
.img-iconplay{
/* margin-left: 45%;*/
margin-top: 10%; 
display:flex;
flex-direction: column;
justify-content: center;
text-align: center;
} 
.margin{
}
.icon-div{
/* margin-top: auto;
margin-bottom: auto; */
/* display: block; */

}

.hei-10{
height: 21px;
}
.bg-img{
background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
url(background-img.jpg);
background-size: cover;
height: 100vh;
width: 100%;
}
div.scroll-container {
background-color: none;
overflow: auto;
white-space: nowrap;
padding: 10px;

margin-right: 10px;
margin-bottom: 60px;
}
.btn-on{
  width: 100px;
  padding: 5px;
  border-radius: 10px;
  border: none;
}

.b-dark{
  background-color: #060d17;
  color: white;
}
.b-light{
  background-color: white;
  color: black;
}
card:hover{
  
}