.body
{
    background-color: black;
    padding: 0;
    margin: 0;
}

.A
{
    color: orangered;
}

.main
{
    margin-left: 100px;
    background-color: rgb(11, 11, 18);
}

.main-img
{
    margin: 15px;
    border-radius: 10px;
}

.butn
{
    width:420px;
    margin-left: 20px;
}

.show
{
   width:1200px;
   margin: 50px;
}

.fm{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.peterimg
{
    height: 600px;
    width: 390px;
    margin-top: 20px;
    margin-left: 30px;
}
.vid
{
    margin: 30px;
    padding: 10px;
}
.pandaimg
{
    height: 660px;
    margin: 30px;
}
.pandabutn
{
    margin-left: 30px;
    width:420px;
    
}
.modebutton{
    height: 50px;
    margin: 3px;
  }
  .modechange{
    background-color: #404040;
  }
  
  @media screen and (min-width: 600px) and (max-height: 768px)
  {
    .card
    {

    }
  }

  .bar
  {
    margin-top: 50px;
    padding-top: 40px;
  }
  .footer
  {
    width :100vw;

  }
