.text {
    display: none;
}

.card:hover .text {
    display: block;
}

.card:hover {
    transform: scale(1.1);
    transition: 1s;
}

.news:hover {
    transform: scale(1.1);
    transition: 1s;
}



.faq {
background-color: transparent;
border-bottom: 1px solid #ccc;
padding: 20px;
cursor: pointer;
transition: background-color 0.3s;
}

.faq:hover {
background-color:transparent;
}

.question {
font-size: 23px;
font-weight: bolder;
color:white;
}

.answer {
font-size: 20px;
font-weight: bold;
color: #0b0a0a;
display: none;
margin-top: 10px;
opacity: 0;
max-height: 0;
overflow: hidden;
transition: max-height 0.3s, opacity 0.3s;
}

.faq.active .answer {
display: block;
max-height: 1000px;
opacity: 1;
transition: max-height 0.3s, opacity 0.5s;
}
.show-answers-btn {
display: block;
margin: 20px auto;
padding: 10px 20px;
background-color: #007BFF;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s;
}

.show-answers-btn:hover {
background-color: #0056b3;
}
.modal-dialog{
    opacity: 1.5;
}
.body-dark{
    background-color: #00050d;
    color: white;
}

.body-light{
    background-color: white;
    color: black;
}
.body-light .textlight{
   color: #00050d;
}
.card-l{
    background-color: white;
    color: black;
}
.m-color{
    color: black;
}
.body-light .modal-body{
    background-color: black;
    color: white;
}
.body-light .card-l{
    background-color: black;
    color: white;
}
.body-light .m-color{
    background-color: black;
    color: white;
}
.body-light .modal-header{
    background-color: black;
}
.body-light .modal-footer{
    background-color: black;
}

@media(min-width:765px)
{
  .mobile{
  display:none;
}

}
@media(max-width:765px)
{
  .desktop{
  display:none;
}

}

