.slide{
    padding: 5px;
}
.videodiv{
    display: flex;
    justify-content: center;
}
.video{
    width: 90vw;
}
.moviecard:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 2px 1px white;
  transition: 0.5s;
}
.poster:hover{
  transform: scale(1.1);
  transition: 0.5s;  
}
.slideimage{
    height: 750px;
}
.text{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
}
.modebutton{
  height: 50px;
  margin: 3px;
}
.modechange{
  background-color: #404040;
}